{% load static %}
<footer class="cs_fooer cs_bg_filed" data-src="{% static 'assets/img/footer_bg.jpg' %}">
    <div class="cs_fooer_main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs_footer_item">
                        <div class="cs_text_widget"><img src="{% static 'assets/img/logocodeplus_foter.svg' %}" width="240"  alt="Logo">
                        </div>
                        <ul class="cs_menu_widget cs_mp0">
                            <li><a href="https://coodeplus.liara.run">https://coodeplus.liara.run</a></li>
                            <li>09215945265</li>
                            <li><a href="coodplus0@gmail.com" class="__cf_email__"
                                   data-cfemail="8fe6e1e9e0cff5e6f9eee1a1e1eafb">coodplus0@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs_footer_item">
                        <h2 class="cs_widget_title">خدمات</h2>
                        <ul class="cs_menu_widget cs_mp0">
                            <li><a>طراحی و توسعه اپلیکیشن</a></li>
                            <li><a>طراحی وتوسعه وبسایت</a></li>
                            <li><a>طراحی واسط کاربری</a></li>
                            <li><a>ایده پردازی</a></li>
<!--                            <li><a href="service-details.html">طراحی گرافیک</a></li>-->
<!--                            <li><a href="service-details.html">تبلیغات تبلیغاتی</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs_footer_item">
                        <h2 class="cs_widget_title">پیوندها</h2>
                        <ul class="cs_menu_widget cs_mp0">
                            <li><a href="{%  url "home" %}">صفحه اصلی</a></li>
                            <li><a href="{%  url "about" %}">درباره</a></li>
                            <li><a href="{%  url "plans" %}">نمونه کارها</a></li>
<!--                            <li><a href="service.html">خدمات</a></li>-->
<!--                            <li><a href="blog.html"></a>وبلاگ</li>-->
<!--                            <li><a href="contact.html">مخاطب</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs_footer_item">
                        <h2 class="cs_widget_title">عضویت در خبرنامه</h2>
                        <div class="cs_newsletter cs_style_1">
                            <div class="cs_newsletter_text">ما مطمئن می شویم که فقط ایمیل هایی را ارسال می کنیم که قابل
                                توجه و مربوط به گیرنده باشد.
                            </div>
                            <form action="#" class="cs_newsletter_form">
                                <input type="email" class="cs_newsletter_input" placeholder="آدرس ایمیل">
                                <button class="cs_btn cs_style_1">ارسال<span><i
                                        class="fa-solid fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cs_bottom_footer">
            <div class="cs_bottom_footer_left">
                <div class="cs_social_btns cs_style_1">
                    <a href="#" class="cs_center"><i class="fa-brands fa-linkedin-in"></i></a><a href="#"
                                                                                                 class="cs_center"><i
                        class="fa-brands fa-twitter"></i></a><a href="#" class="cs_center"><i
                        class="fa-brands fa-youtube"></i></a><a href="#" class="cs_center"><i
                        class="fa-brands fa-slack"></i></a>
                </div>
            </div>
<!--            <div class="cs_copyright">حق چاپ © <a href="https://www.mellatweb.com/">ملت وب</a>.</div>-->
            
            <div class="cs_bottom_footer_right">
                <ul class="cs_footer_links cs_mp0">
                    <li><a href="#">شرایط استفاده</a></li>
                    <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>