{% extends 'base.html' %}
{% load static %}
{% block title %}بلاگ{% endblock %}
{% block content %}


    <section class="section">
        <div class="container mb-5">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row mx-1">
                        <div class="cs_height_200 cs_height_lg_60"></div>
                        {% for post in blog %}
                            <div class="col-lg-12 col-md-12 mb-5">
                                <div class="rounded-2"><img src="{{ post.image.url }}" alt=""
                                                            class="img-fluid rounded-2"></div>
                                <div class="blog-item-content">
                                    <div class="blog-item-meta mb-3 mt-4 ">
                                        <span class="mr-3 text-white">نویسنده : {{ post.author }}</span>
                                        <span class="text-bg-light px-2 rounded-3 text-capitalize mx-2 text-right">تاریخ انتشار : {{ post.pub_date }}</span>
                                    </div>
                                    <h2 class="mt-3 mb-3">
                                        <a href="{% url 'blog_details' post.id %}"
                                           title="{{ post.title }}">{{ post.title }}</a>
                                    </h2>
                                    <p class="mb-4">{{ post.content|linebreaksbr|truncatechars:100 }}</p>
                                    <a href="{% url 'blog_details' post.id %}" class="cs_btn cs_style_1 p-2">بیشتر
                                        بخوانید...</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="col-lg-4 d-lg-inline-block d-none">
                    <div class="cs_height_80"></div>
                    <div class="sidebar-wrap pl-lg-4 mt-lg-0">
                        <div class="sidebar-widget search mt-5 mb-5">
                            <h5>جستجو کنید!</h5>
                            <form action="#" class="search-form">
                                <input type="text" class="form-control" placeholder="جستجو ...">
                            </form>
                        </div>

                        <hr>
                        {% for new_post in new_posts %}
                            <div class="sidebar-widget latest-post my-5">
                                <h5>پربازدید</h5>
                                <!-- اینجا بقیه کد‌ها قرار می‌گیرد -->
                                <div class="m-3 my-4">
                                    <h6>
                                        <a href="{% url 'blog_details' new_post.id %}">{{ new_post.title }}</a>
                                    </h6>
                                </div>
                                {#                                <div class="m-3 my-4">#}
                                {#                                    <h6>مقاله تستسی 2 </h6>#}
                                {#                                    <p class="cs_fs_16">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با#}
                                {#                                        استفاده از طراحان گرافیک است، چاپگر…</p>#}
                                {#                                </div>#}
                            </div>
                        {% endfor %}
                        <hr>

                        {#                    <hr>#}

                        {#                    <div class="sidebar-widget tags my-5">#}
                        {#                        <h5 class="mb-4">برچسب ها</h5>#}
                        {#                        <!-- اینجا بقیه کد‌ها قرار می‌گیرد -->#}
                        {#                    </div>#}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}