
    <!-- Footer -->
    <footer class="mt-24 flex flex-col justify-center items-center w-full">

        <!-- White Session -->
       <div class="flex justify-between items-center lg:px-5 px-3 bg-white lg:w-[850px] w-[400px] h-20 rounded-xl -mb-10 z-20">
           <div>
               <p class="lg:text-lg text-xs">منتظر تماس گرم شما هستیم </p>
               <span class="font-IRSans-Light lg:text-sm text-[10px]">پاسخگویی از ۷ صبح تا ۲۲ شب</span>
           </div>
           <div class="flex items-center justify-center gap-2">
               <p class="font-Rokh-Bold lg:text-2xl text-sm">۰۳۱۵۴۸۹۷۵</p>
               <img src="../Pic/Mobile.png" alt="" class="lg:w-[53px] w-6 h-6 lg:h-[53px]">
           </div>
       </div>
       
       <!-- Main -->
       <div class="bg-BlueC-100  h-auto w-full flex lg:flex-row flex-col lg:justify-around lg:items-start justify-center items-center rounded-3xl -mb-10 z-10">
           <div class="mt-16 flex flex-col lg:items-start items-center">
               <!-- Logo -->
               <img src="../Pic/Logo/logocodeplus.svg" alt="logo" class="lg:h-[49px] h-10 w-40 lg:w-[230px]">
               <p class="font-IRSans-Light text-xs w-96 text-justify leading-6 mt-6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
           </div>
           <!-- left Side -->
           <div class="lg:mt-28 my-10 grid sm:grid-cols-3 grid-cols-2 lg:gap-28 gap-x-16 gap-y-7">
               <!-- access -->
               <div class="flex flex-col gap-y-4 mt-6">
                   <h5>دسترسی سریع</h5>
                   <div class="flex flex-col font-IRSans-Light mt-3 gap-y-4 text-xs">
                       <a href="#">صفحه اصلی </a>
                       <a href="#">نمونه کارها</a>
                       <a href="#">مقالات</a>
                       <a href="#">تماس باما</a>
                       <a href="#">مشاوره رایگان</a>
                   </div>
               </div>

                <!-- access -->
               <div class="flex flex-col gap-y-4 mt-6">
                   <h5>دسترسی سریع</h5>
                   <div class="flex flex-col font-IRSans-Light mt-3 gap-y-4 text-xs">
                       <a href="#">صفحه اصلی </a>
                       <a href="#">نمونه کارها</a>
                       <a href="#">مقالات</a>
                       <a href="#">تماس باما</a>
                       <a href="#">مشاوره رایگان</a>
                   </div>
               </div>

                <div class="flex flex-col gap-y-4 mt-6">
                   <h5>راه های ارتباطی</h5>
                   <div class="flex flex-col font-IRSans-Light gap-y-4 text-xs mt-3">
                       <a href="#" class="flex items-center gap-2 font-IRSans-Light text-xs">
                           <img src="../Pic/call-calling.png" alt="" class="w-4 h-4">
                           021-24086
                       </a>
                       <a href="#" class="flex items-center gap-2 font-IRSans-Light text-xs">
                           <img src="../Pic/Telegram.png" alt="" class="w-4 h-4">
                           09214525890
                       </a>
                       <a href="#" class="flex items-center gap-2 font-IRSans-Light text-xs">
                           <img src="../Pic/whatsapp.png" alt="" class="w-4 h-4">
                           09214525890
                       </a>
                       <a href="#" class="flex items-center gap-2 font-IRSans-Light text-xs">
                           <img src="../Pic/sms.png" alt="" class="w-4 h-4">
                           codeplus@gmail.com
                       </a>
                       <a href="#" class="flex items-center gap-2 font-IRSans-Light text-xs">
                           <img src="../Pic/instagram.png" alt="" class="w-4 h-4">
                           codeplus.unity
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </footer>

   <div class="bg-BlueC-800 h-20 z-0 flex lg:justify-start items-end justify-center">
       <p class="font-IRSans-Light text-sm text-white pb-2 px-20">© تمام حقوق codeplus.com محفوظ است</p>
   </div>

   <script src="../Script/home.js"></script>
   
</body>
</html>